body {
  background-image: url("/img/bg.png");
  background-position: center;
  color: #ffffff;
  font-family: arial;
}
h3 {
  text-align: center;
}
#container {
  margin: auto;
  width: 50%;
}
#left {
  float: left;
  margin: 10px;
  width: 300px;
}
#stanza5 {
  text-align: right;
}
