body {
  background-image: url("/img/bg.png");
  background-position: center;
  color: #ffffff;
  font-family: arial;
}
h3 {
  text-align: center;
}
#left {
  float: left;
  margin: 10px;
  width: 200px;
}
